@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #79A206; /* Green */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.global-h1 {
  @apply font-bold text-[42px] md:text-[clamp(2.625rem,1.1328rem+3.1128vw,3.125rem)] lg:text-[clamp(3.125rem,0.9028rem+3.4722vw,4.375rem)] leading-[100%] md:leading-[120%] lg:leading-[110%] tracking-[-0.01em];
}

.global-padding {
  @apply px-[clamp(1.25rem,-5.4167rem+10.4167vw,5rem)];
}

.global-margin {
  @apply mb-[80px] lg:mb-[clamp(7.5rem,-1.3889rem+13.8889vw,12.5rem)];
}

.layout {
  @apply max-w-[1920px] mx-auto w-full;
}

.hero-slider .swiper-button-prev > svg {
  color: black;
  width: 30px;
  height: 30px;
  stroke-width: 3;
  opacity: 0;
}

.hero-slider .swiper-button-next > svg {
  color: black;
  width: 30px;
  height: 30px;
  stroke-width: 3;
  opacity: 0;
}

.hero-slider .swiper-button-next:hover svg,
.hero-slider .swiper-button-prev:hover svg {
  color: var(--primary);
}

.hero-slider .swiper-button-next svg,
.hero-slider .swiper-button-prev svg {
  transition: color 0.3s ease-in-out;
}

.hero-slider:hover .swiper-button-prev > svg,
.hero-slider:hover .swiper-button-next > svg {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.hero-slider .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  border: 3px solid white !important;
  background-color: transparent !important;
  opacity: 1 !important;
}

.hero-slider .swiper-pagination-bullet-active {
  background-color: white !important;
}

.hero-slider .swiper-pagination-bullet:hover {
  background-color: white !important;
  transition: background-color 0.3s ease-in-out;
}

.global-h2 {
  @apply font-bold text-[36px] md:text-[clamp(2.25rem,1.5078rem+1.5504vw,2.5rem)] lg:text-[clamp(2.5rem,1.3889rem+1.7361vw,3.125rem)] leading-[110%] tracking-[-0.01em];
}


.title{
  position: relative;
  padding-bottom: 22px;
}

.title::before {
  position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background: #222222;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}


.footer-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 31px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.footer-title::before {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  left: 0;
}